/*The Google Logo*/
#google {
    position: absolute;
    left: 20px;
    top: 30px;
    width: 90px;
}

/*Search Bar*/
#search_bar {
    position: absolute;
    top: 25px;
    left: 140px;
    width: 600px;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 0 10px grey;
    border-top: white;
    border-right: white;
    border-bottom: white;
    border-left: white;
    font-family: Arial;
    font-size: 13px;
    
}

/*Icons*/
#magnify_head {
    width: 20px;
    position: absolute;
    left: 730px;
    top: 36px;
}

#magnify_nav {
    width: 14px;
    padding-right: 2px;
}

#menu {
    width: 17px;
    position: absolute;
    top: 36px;
    left: 1150px;
    padding-right: 2px;
}

#news_icon {
    width: 16px;
    padding-right: 2px;
}

#map_icon {
    width: 18px;
    padding-right: 2px;
}

#vid_icon {
    width: 16px;
    padding-right: 2px;
}

#shop_icon {
    width: 15px;
    padding-right: 2px;
}

#dot_stack_icon {
    width: 15px;
    padding-right: 2px;
}

/*Buttons*/
#sign-in {
    background-color: #4c8bf5;
    font-family: Arial;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    font-size: 13px;
    border-radius: 3px;
    margin: 0px;
    position: absolute;
    top: 30px;
    left: 1190px;
}

/*Navbar*/
.navbar {
    /*background-color: teal;*/
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 100px;
    left: 160px;
    vertical-align: middle;
    border-bottom: 1px solid #ebebeb;
    border-left-width: 100%;
}

.item {
    padding-right: 20px;
    font-size: 13px;
    color: #5f6368;
}

#item_seven {
    padding-left: 55px;
    font-size: 13px;
    color: #5f6368;
}

#item_eight {
    font-size: 13px;
    padding-left: 20px;
    color: #5f6368;
}

.item_one {
    padding-right: 20px;
    font-size: 13px;
    color: #2b7ee9;
}

#bl_line {
    height: 0;
    border: 0;
    border-top: 1px solid #1a73e8;
    border-bottom: 1px solid #1a73e8;
    width: 60px;
    position: absolute;
    top: 112px;
    left: 150px;
    margin-top: 10px;
}